*.d
*.o
whisper
librvcore.a
*.a
bazel-*
**/*.clang-tidy.log

# VSCode
.vscode/

# build directories
build-Linux
trace-reader/sample-reader
.makepy/artifacts
__pycache__/
*egg-info/
**/node_modules
.idea
conan-dynamic-info.json
makepy_hints.json
conanbuild*.sh
conanrun*.sh
deactivate_*.sh
CMakeUserPresets.json
build
.cache
